// ナビバー

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

// コンテンツ

.container {
  max-width: 1000px;
  margin: 0 auto;
}

// admon/show メイン

.card-main {
  width: 600px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}

.main {
  margin-right: 30px;
}

// admin/index メイン

.card-main-index {
  width: 212px;
  // margin:0 auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  float: left;
  margin-right:25px;
  margin-bottom: 25px;
}
.card-img-index {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: 200px;
}
.card-content-index {
  padding: 10px;
}
.card-title-index {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  color: #333;
}
.card-text-index {
  color: #777;
  font-size: 10px;
  line-height: 1.5;
}
.card-link-index {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 2px;
}
.card-link-index a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link-index a:hover {
  color: #0090aa;
}

.card-link-edit-index {
  float: left;
}

.main {
  margin-right: 30px;
}

// サイドバー

#sidebar {
  width: 336px;
  float: right;
}

.card-side {
  width: 370px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

// アイテム
.item_list {
  margin-top: 30px;
}
.card-items {
  width: 370px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-top: 30px;
}

.card-img-items {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content-items {
  padding: 20px;
}
.card-title-items {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  color: #333;
}
.card-text-items {
  color: #777;
  font-size: 15px;
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
}

// タグ
.tag_list {
  margin-top: 30px;
}
