.nav-user {
  border: 1px solid #ccc;
  margin-bottom: 40px;
}

.nav-user ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}

.nav-user ul li {
  display: table-cell;
  min-width: 50px;
  border-right: 1px solid #ccc;
}

.nav-user ul li:first-child {
  border-left: 1px solid #ccc;
}

.nav-user ul li a {
  display: block;
  width: 242px;
  padding: 10px 0;
  text-decoration: none;
  color: #aaa;
  background-color: #fff;
}

.nav-user ul li a:hover {
  background-color: #EEEEEE;
}

.nav-user ul li.current {
  font-weight: bold;
}

.nav-user ul li.current a {
  border-bottom: 5px solid #00B0F0;
  color: #00B0F0;
}

