@charset "UTF-8";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

.breadcrumbs li::after {
  content: ">";
  padding: 0 5px;
  color: #C0C0C0;
}

.breadcrumbs li {
  content: ">";
  padding: 0 5px;
  display: inline-block;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.plofile-icon {
  color: #000;
  font-weight: 900;
}

.top-image-post {
  height: 70px;
  margin-top: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-image-post:hover {
  opacity: 0.8;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.container {
  max-width: 1000px !important;
  margin: 0 auto;
}

body {
  background-color: #F6F7F8 !important;
}

main {
  background-color: #F6F7F8;
}

.card-main {
  width: 590px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

@media screen and (max-width: 767px) {
  /*　画面サイズが480pxからはここを読み込む　*/

  .original-img {
    border-radius: 5px 5px 0 0;
    width: 128px;
    height: 128px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*　画面サイズが768pxから1024pxまではここを読み込む　*/

  .original-img {
    border-radius: 5px 5px 0 0;
    width: 196px;
    height: 196px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/

  .original-img {
    border-radius: 5px 5px 0 0;
    width: 590px;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}

.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}

.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}

.card-link a:hover {
  color: #0090aa;
}

.main {
  margin-right: 30px;
}

.icon-pink {
  color: #FF0066;
}

.icon-like {
  color: #0bd;
}

.comment-post p {
  color: #aaa;
}

.round-img-comment {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.plofile-icon-comment {
  color: #444444;
}

.icon-delete-comment {
  color: #888888;
}

.comment-contents {
  width: 450px;
}

.delete-comment {
  width: 20px;
  height: 20px;
  margin: 5px 0 0 10px;
}

.comments {
  display: flex;
}

#sidebar {
  width: 370px;
  float: right;
}

.card-side {
  width: 370px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

#create-items-show,
#create-tags-show {
  display: none;
}

.create-items-wrapper,
.create-tags-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

#modal-items {
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: #F6F7F8;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 600px;
  height: auto;
  text-align: center;
}

#modal-tags {
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: #F6F7F8;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 500px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#items-form,
#tags-form {
  width: 100%;
}

#tags-form {
  margin-left: 100px;
}

#items-form h2,
#tags-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#item-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#tags-form input {
  width: 300px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#item-submit-btn,
#tags-submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #0bd;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.item_list {
  margin-top: 30px;
}

.card-items {
  width: 370px;
  height: 100px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-top: 30px;
}

.card-img-items {
  border-radius: 5px 5px 0 0;
  width: 80px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
}

.card-content-items {
  padding: 5px;
}

.card-link-bottun {
  display: flex;
}

.item-create {
  text-align: center;
  margin-top: 10px;
}

.btn-blue,
a.btn-blue {
  color: #fff;
  background-color: #0bd;
  margin: 0 30px;
  margin: 15px 0 0 15px;
  font-weight: bold;
  height: 30px;
  line-height: 26px;
  padding: 0 26px;
}

.btn-blue:hover,
a.btn-blue:hover {
  color: #fff;
  background: #0090aa;
}

.btn-delete,
a.btn-delete {
  color: #fff;
  background-color: #FF0066;
  margin: 0 30px;
  margin: 15px 0 0 15px;
  font-weight: bold;
  height: 30px;
  line-height: 26px;
  padding: 0 26px;
}

.btn-delete:hover,
a.btn-delete:hover {
  color: #fff;
  background: #CC0066;
}

.fa-position-left {
  position: absolute;
  top: calc(50% - .5em);
  left: 1rem;
}

.card-title-items {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  color: #333;
}

.card-text-items {
  color: #777;
  font-size: 15px;
}

.tag_list {
  margin-top: 30px;
}

.tag-create {
  text-align: center;
  margin-top: 10px;
}

.side-tag {
  margin: 20px 10px 30px 0;
  border: solid;
  border-width: thin;
  border-color: #666666;
  color: #444444;
  padding: 5px;
  margin-right: 10px;
  margin-top: 10px;
}

.card-content-tags {
  text-decoration: none;
  color: #444444;
}

.link-tags {
  padding: 5px;
  margin-right: 10px;
  margin-top: 10px;
}

.tag-cercle-icon {
  color: #0bd;
}

.btn-tag-delete,
a.btn-tag-delete {
  font-size: 10px;
  color: #fff;
  background-color: #FF0066;
}

.btn-tag-delete:hover,
a.btn-tag-delete:hover {
  color: #fff;
  background: #CC0066;
}

.post-new-create {
  margin-bottom: 40px;
  width: 200px;
}

.post-new-create-btn {
  background-color: #0bd;
  width: 200px;
}

.card-main-index {
  width: 223px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}

.card-img-index {
  border-radius: 5px 5px 0 0;
  width: 223px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-img-index:hover {
  opacity: 0.6;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.card-content-index {
  padding: 10px;
}

.card-title-index {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  color: #333;
}

.card-text-index {
  color: #777;
  font-size: 10px;
  line-height: 1.5;
}

.card-link-index {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 2px;
}

.card-link-index a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}

.card-link-index a:hover {
  color: #0090aa;
}

.card-link-edit-index {
  float: left;
}

.main {
  margin-right: 30px;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

